name: Build and deploy

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Tests
        run: python manage.py test

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            stevendegwa/zanaka:${{ github.sha }}
          platforms: linux/amd64,linux/arm64/v8

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Terraform
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var "vps_host=${{ secrets.VPS_HOST }}" \
            -var "ssh_private_key=${{ secrets.VPS_SSH_KEY }}" \
            -var "docker_image_tag=${{ github.sha }}" \
            -var "db_password='${{ secrets.DB_PASSWORD }}'" \
            -var "django_secret='${{ secrets.DJANGO_SECRET }}'" \
            -var "rabbitmq_password='${{ secrets.RABBITMQ_PASSWORD }}'"
        working-directory: ./terraform
